* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: Ubuntu Nerd Font;
	font-size: 18px;
}

window#waybar {
	background-color: #24283b;
	color: #c0caf5;
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces button {
	border: none;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 4px;
	color: #cdd6f4;
	padding: 6px 12px;
}

#workspaces button.active {
	border-bottom: 2px solid cyan;
	color: cyan;
	font-size: 24px;
	transition: background-color 0.5s;
}

#workspaces button:hover {
	color: #1e1e2e;
	background-color: #cdd6f4;
}

#workspaces button.urgent {
	background-color: #f38ba8;
}

#battery,
#backlight,
#wireplumber,
#network,
#bluetooth,
#custom-notes,
#custom-mic,
#custom-conservation-mode,
#pulseaudio,
#power-profiles-daemon,
#custom-power,
#custom-power-profiles-daemon,
#power {
	border-radius: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 12px;
	background-color: #c0caf5;
	color: #181825;
}

#custom-logo {
	padding-right: 7px;
	padding-left: 7px;
	margin-left: 5px;
	font-size: 30px;
	border-radius: 8px 0px 0px 8px;
	color: #ffe135;
}


#custom-notes {
	margin-top: 10px;
	color: #cdd6f4;
	background-color: #414868;
}

#custom-conservation-mode {
	font-size: 20px;
	/* background-color: #9de294; */
}

#network.disconnected {
	background-color: #e29494;
}

#battery {}

#battery.urgent {
	color: #e29494;
}

#battery.charging {
	background-color: #9de294;
}

#custom-mic {
	color: #c0caf5;
	background-color: #414868;
}

#custom-power {
	margin-right: 10px;
	background-color: #e29494;
}

#power-profiles-daemon {
	/* background-color: transparent; */
	font-size: 20px;
}

#power-profiles-daemon.performance {
	/* color: #94e2d5; */
}

#power-profiles-daemon.balanced {
	/* color: #94e2d5; */
}

#power-profiles-daemon.power-saver {
	/* color: #94e2d5; */
}

#clock {
	font-size: 20px;
}

tooltip {
	border-radius: 8px;
	padding: 15px;
	background-color: #131822;
}

tooltip label {
	padding: 5px;
	background-color: #131822;
}
