* {
	border: none;
	border-radius: 0;
	min-height: 0;
	/* font-family: Maple Mono; */
	font-family: Ubuntu Nerd Font;
	font-size: 18px;
}

window#waybar {
	/* background-color: #24283b; */
	background-color: transparent;
	color: #c0caf5;
	/* border-radius: 10px; */
	transition-property: background-color;
	transition-duration: 0.5s;
}

window#waybar.hidden {
	opacity: 0.5;
}

#workspaces {
	/* margin: 20px 10px 20px 20px; */
	margin-top: 10px;
	margin-left: 10px;
	/* margin-bottom: 10px; */
	background-color: transparent;
	/* padding: 12px; */
}

#workspaces button {
	all: initial;
	min-width: 0;
	box-shadow: inset 0 -3px transparent;
	padding: 12px 24px 12px 24px;
	margin-right: 4px;
	border-radius: 4px;
	background-color: #414868;
	color: #cdd6f4;
}

#workspaces button.active {
	color: #1e1e2e;
	background-color: #c0caf5;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	color: #1e1e2e;
	background-color: #cdd6f4;
}

#workspaces button.urgent {
	background-color: #f38ba8;
}

#memory,
#battery,
#backlight,
#wireplumber,
#network,
#bluetooth,
#custom-notes,
#custom-mic,
#custom-battery-mode,
#pulseaudio,
#custom-power,
#custom-power-profiles-daemon,
#power {
	border-radius: 4px;
	padding: 12px;
	background-color: #1e1e2e;
	color: #181825;
	/* max-height: 20px; */
	/* margin-top: 10px; */
}

#custom-logo {
	padding-right: 7px;
	padding-left: 7px;
	margin-left: 5px;
	font-size: 15px;
	border-radius: 8px 0px 0px 8px;
	color: #1793d1;
}

#pulseaudio {
	/* padding: 6px 15px 6px 12px; */
	/* margin: 20px 0px 20px 0px; */
	/* background-color: #94CFE3; */
	margin-top: 10px;
	background-color: #414868;
	color: #cdd6f4;
	/* color: #c0caf5; */
}

#bluetooth {
	/* margin: 20px 0px 20px 0px; */
	/* background-color: #c0caf5; */
	margin-top: 10px;
	color: #cdd6f4;
	background-color: #414868;
}

#custom-notes {
	/* margin: 20px 0px 20px 0px; */
	/* background-color: #c0caf5; */
	margin-top: 10px;
	color: #cdd6f4;
	background-color: #414868;
}

#network {
	/* margin: 20px 0px 20px 0px; */
	margin-top: 10px;
	background-color: #94CFE3;
}

#network.disconnected {
	background-color: #e29494;
}

#battery {
	/* margin: 20px 0px 20px 0px; */
	margin-top: 10px;
	background-color: #94CFE3;
}

#battery.warning,
#battery.critical,
#battery.urgent {
	background-color: #e29494;
}

#battery.charging {
	background-color: #9de294;
}

#custom-mic {
	/* margin: 20px 0px 20px 0px; */
	color: #c0caf5;
	background-color: #414868;
}

#custom-battery-mode {
	/* margin: 20px 0px 20px 0px; */
	/* background-color: #9de294; */
	/* background-color: #c0caf5; */
	margin-top: 10px;
	color: #cdd6f4;
	background-color: #414868;
}

#custom-power {
	/* margin: 20px 20px 20px 0px; */
	margin-top: 10px;
	margin-right: 10px;
	background-color: #e29494;
}

#custom-power-profiles-daemon {
	margin-top: 10px;
	background-color: #94e2d5;
}

#clock {
	/* font-size: 20px; */
}


tooltip {
	border-radius: 8px;
	padding: 15px;
	background-color: #131822;
}

tooltip label {
	padding: 5px;
	background-color: #131822;
}
